<div class="town-picker-mask"></div>
<div class="town-picker">
    <ul class="district"></ul>    
    <ul class="operate">
        <li class="reset"><a class="btn btn-block superfine-borders-yfyk  btn-yfyk-reverse relative">取消</a></li>
        <li class="confirm"><a class="btn btn-block btn-yfyk">确定</a></li>
    </ul>
</div>