<%- include("../components/head") %>
<div class="bounding padding-rb">
    <div class="bound">
        <div class="auth-code superfine-border-bottom-fence relative">
            <input class="tel padding-left" placeholder="手机号"></input><button class="verify padding-right">获取验证</button>
        </div>
        <div class="note">
            <input type="text" class="padding-left ime-disabled" placeholder="短信验证码" >
        </div> 
    </div>
    <button class="btn btn-lg btn-block btn-yfyk">下一步</button>
</div>
<%- include("../components/foot") %>